
<section class="about-wrap">
  <div class="row">
    <div class="about-hotel clearfix" id="about">
      <div class="about-hotel__img column large-7"><img src="./dist/images/about-img_1.png" alt=""/><img src="./dist/images/about-img_2.png" alt=""/><img src="./dist/images/about-img_3.png" alt=""/></div>
      <div class="about-hotel__content column large-5">
        <div class="title"><span>ПРО ГОТЕЛЬ</span></div>
        <div class="about-hotel__text">
          <p>Наш готель - це місце для релаксу та хорошого відпочинку. Тут можна відпочивати з сім’єю, друзями, смакувати страви та напої нашої кухні або просто вести бесіди з близьким. Ми пропонуємо відмінну якість обслуговування чисті, комфортні номери на будь-який смак..</p>
        </div>
        <div class="about-hotel__btn"><a class="btn btn_f1" data-open="exampleModal1">Забронювати</a></div>
      </div>
    </div>
  </div>
</section>