
<section>
  <div class="blog__image"><img src="./dist/images/blog_bg.png" alt=""/>
    <div class="blog__image__title"><span>Блог</span></div>
  </div>
  <div class="last-news">
    <div class="row">
      <div class="blog__title">
        <div class="title"><span>новини і події</span></div>
      </div>
      <div class="blog-item clearfix">
        <div class="blog-item__img column large-5"><a href="#"><img src="./dist/images/foto.png" alt=""/></a></div>
        <div class="blog-item__content column large-7">
          <div class="blog-item-date"><span>18.05.2018</span></div>
          <div class="blog-item-title"><a href="#"><span>ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!</span></a></div>
          <div class="blog-item-text">
            <p>Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень!</p>
            <p>Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що </p>
          </div>
          <div class="blog-item-btn"><a class="btn" href="blogEntry.html">читати</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="blog-items">
      <article>
        <div class="blog-item clearfix">
          <div class="blog-item__img column large-5"><a href="#"><img src="./dist/images/foto.png" alt=""/></a></div>
          <div class="blog-item__content column large-7">
            <div class="blog-item-date"><span>18.05.2018</span></div>
            <div class="blog-item-title"><a href="#"><span>ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!</span></a></div>
            <div class="blog-item-text">
              <p>Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень!</p>
              <p>Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що </p>
            </div>
            <div class="blog-item-btn"><a class="btn" href="#">читати</a></div>
          </div>
        </div>
      </article>
      <article>
        <div class="blog-item clearfix">
          <div class="blog-item__img column large-5"><a href="#"><img src="./dist/images/foto.png" alt=""/></a></div>
          <div class="blog-item__content column large-7">
            <div class="blog-item-date"><span>18.05.2018</span></div>
            <div class="blog-item-title"><a href="#"><span>ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!</span></a></div>
            <div class="blog-item-text">
              <p>Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень!</p>
              <p>Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що </p>
            </div>
            <div class="blog-item-btn"><a class="btn" href="#">читати</a></div>
          </div>
        </div>
      </article>
      <article>
        <div class="blog-item clearfix">
          <div class="blog-item__img column large-5"><a href="#"><img src="./dist/images/foto.png" alt=""/></a></div>
          <div class="blog-item__content column large-7">
            <div class="blog-item-date"><span>18.05.2018</span></div>
            <div class="blog-item-title"><a href="#"><span>ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!</span></a></div>
            <div class="blog-item-text">
              <p>Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень!</p>
              <p>Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що </p>
            </div>
            <div class="blog-item-btn"><a class="btn" href="#">читати</a></div>
          </div>
        </div>
      </article>
      <div class="nav-links"><a class="prev page-numbers" href="#"></a><span class="page-numbers current" aria-current="page">1</span><a class="page-numbers" href="#">2</a><a class="page-numbers" href="#">3</a><a class="next page-numbers" href="#"></a></div>
    </div>
  </div>
</section>