
<section>
  <div class="row">
    <div class="breakfasts clearfix">
      <div class="breakfasts__title">
        <div class="title"><span>Сніданки</span></div>
      </div>
      <div class="breakfasts__img column large-6"><img src="./dist/images/breakfasts.png" alt=""/></div>
      <div class="breakfasts__info column large-6">
        <div class="breakfasts-title"><span>смачний сніданок щодня</span></div>
        <div class="breakfasts-text">
          <p>Хороший відпочинок починається з смачного сніданку.</p>
          <p>Ви можете вибрати страви з національної кухні, або ж розширити смакові відчуття з нашими фірмовими стравами від шеф кухаря.</p>
          <p>Сніданок у ресторані вже включено у вартість номеру. Додатково можна зпланувати свої обід та вечерю для комплексного відпочинку в горах.</p>
        </div>
        <div class="breakfasts-btn"><a class="btn" href="#">бронювати номер</a></div>
      </div>
    </div>
  </div>
</section>