
<footer>
  <div class="footer clearfix">
    <div class="row">
      <div class="footer__contacts large-5 medium-5 small-12 columns">
        <div class="footer-addres">
          <p>с. Поляниця Підгірне, 654  Івано-Франківська обл.</p>
        </div>
        <div class="footer-contacts">
          <div class="footer-soc"><a href="#"><img src="./dist/images/fb.svg" alt=""/></a><a href="#"><img src="./dist/images/inst.svg" alt=""/></a></div>
          <div class="footer-phone">
            <ul>
              <li><a href="tel:+380 98 80 10 800">+380 98 80 10 800</a></li>
              <li><a href="tel:+380 66 55 77 803">+380 66 55 77 803</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__logo large-2 medium-3 small-12 columns"><a href="#"><img src="./dist/images/footer-logo.png" alt=""/></a></div>
      <div class="footer__copy large-5 medium-4 small-12 columns">
        <div class="lionline"><span>
             Created by <a href="#">LIONLINE </a>© 2018</span></div>
        <div class="copy"><span>GIRSKI Hotel & Spa. </span><span>Усі права захищено.</span></div>
      </div>
    </div>
  </div>
</footer>