
<footer>
  <div class="row">
    <div class="footer">
      <div class="footer-content">
        <div class="footer__addres large-3 columns"><span>Адреса:</span>
          <p>Підгірне, 654 с. Поляниця, Яремчанська м.Івано-Франківська обл.</p>
        </div>
        <div class="footer__contacts large-3 columns"><span>Контактні телефони:</span>
          <ul>
            <li>+380 98 80 10 800</li>
            <li>+380 66 55 77 803</li>
          </ul>
        </div>
        <div class="footer__soc large-3 columns"><span>Ми у соціальних мережах:</span>
          <div class="footer__soc-icons"><a href="#"><img src="./dist/images/fb.svg" alt=""/></a></div>
        </div>
      </div>
      <div class="footer-copy"><span>Created by <a href="#">LionLine </a>© 2018</span></div>
    </div>
  </div>
</footer>