
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>girski</title>
<meta name="description" content=""/>
<meta name="copyright" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<script type="text/javascript" src="dist/scripts/jquery.js"></script>
<script type="text/javascript" src="dist/scripts/main.js"> </script>
<link rel="stylesheet" href="dist/styles/main.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:500,400|Roboto:300,400,500,700" rel="stylesheet"/>
<link rel="shortcut icon" type="image/png" href="dist/images/favicon.png"/>