
<section>
  <div class="homeform" id="cont">
    <div class="row">
      <div class="homeform__title">
        <div class="title center"><span>ОНЛАЙН ЗАЯВКА</span></div>
      </div>
      <div class="homeform__text">
        <p>Ласкаво просимо на незабутній відпочинок!</p>
        <p>Доступні та комфортні способи відправлення бронювання.</p>
        <p>
           Скористайтеся сервісом <a href="#">booking.com</a>, відправте заявку за допомогою наших сторінок в соціальних мережах, зателефонуйте або просто натисніть кнопку!</p>
      </div>
      <div class="homeform__btn"><a class="btn btn_f1 btn_brown" data-open="exampleModal1"> <span>Забронювати</span></a></div>
      <div class="homeform__phone"><a class="btn_f2" data-open="exampleModal1"> <img src="./dist/images/phone.svg" alt=""/><img src="./dist/images/phone-b.svg" alt=""/></a></div>
    </div>
  </div>
</section>