
<slider class="clearfix">
  <div class="row">
    <div id="homeSlider"><img src="./dist/images/slider_item_4.jpg" alt=""/><img src="./dist/images/slider_item_5.jpg" alt=""/><img src="./dist/images/slider_item_3.png" alt=""/></div>
  </div>
</slider>