
<div id="menu">
  <div class="row">
    <div class="header_menu">
      <div class="mob_open">
        <div class="icon">
          <div class="burger"></div>
        </div>
      </div>
      <ul class="menu">
        <li><a href="#">ГОЛОВНА</a></li>
        <li><a href="#about">ПРО ГОТЕЛЬ</a></li>
        <li><a href="#rooms">НОМЕРИ</a></li>
        <li><a href="#ad">ПЕРЕВАГИ</a></li>
        <li><a href="#rev">ВІДГУКИ</a></li>
        <li><a href="#conv">ЗРУЧНОСТІ</a></li>
        <li><a href="#cont">КОНТАКТИ</a></li>
      </ul>
    </div>
  </div>
</div>