
<div class="reveal" id="exampleModal1" data-reveal="">
  <div class="popupForm clearfix">
    <div class="form__logo"><img src="./dist/images/form_logo.png" alt=""/></div>
    <div class="form_tabs">
      <ul>
        <li class="form1 tab-active" data-collection="1" data-triger="0">БРОНЮВАННЯ</li>
        <li class="form2" data-collection="1" data-triger="1">ЗВ’ЯЗАТИСЬ</li>
      </ul>
    </div>
    <div class="booking_form pop_form active" data-collection="1" data-target="0">
      <div class="contact_us__success">
        <h2>ВІДПРАВЛЕННЯ ЗАЯВКИ УСПІШНЕ!</h2>
        <p>Ви успішно відправили заявку до готелю “Гірскі”. Очікуйте дзвінка від менеджера.</p>
        <button class="close-button" id="btn_success" data-close="" aria-label="Close reveal" type="button">Закрити</button>
      </div>
      <form class="book_form">
        <div class="large-6 medium-6 small-12">
          <p>Номер:</p>
          <select name="classRoom">
            <option>Вибрати номер</option>
            <option>Стандарт</option>
            <option>Напівлюкс</option>
            <option>Люкс</option>
          </select>
        </div>
        <div class="large-6 medium-6 small-12">
          <div class="number">
            <div class="Adults large-6 medium-6">
              <p>Дорослих:</p>
              <div class="value-button" id="decrease" value="Decrease Value">-</div>
              <input type="number" name="Adults" id="number" value="0"/>
              <div class="value-button" id="increase" value="Increase Value">+</div>
            </div>
            <div class="Children large-6 medium-6">
              <p>Дітей:</p>
              <div class="value-button" id="decrease2" value="Decrease Value">-</div>
              <input type="number" name="Children" id="number2" value="0"/>
              <div class="value-button" id="increase2" value="Increase Value">+</div>
            </div>
          </div>
        </div>
        <div class="large-6 medium-6 small-12">
          <p>Дата заїзду</p>
          <input class="datepicker-begin" type="text" name="date_begin" readonly="readonly" id="date_begin" required="required"/>
        </div>
        <div class="large-6 medium-6 small-12">
          <p>Дата виїзду</p>
          <input class="datepicker-finish" type="text" id="date_end" readonly="readonly" name="date_end" required="required"/>
        </div>
        <div class="large-6 medium-6 small-12">
          <p>Ім’я </p>
          <input type="text" name="name" placeholder="Введіть Ім’я "/>
        </div>
        <div class="large-6 medium-6 small-12">
          <p>Телефон </p>
          <input type="text" name="phone" placeholder="Введіть Телефон"/>
        </div>
        <div class="large-12 medium-12 small-12">
          <p>Уточнення</p>
          <textarea placeholder="Введіть Повідомлення"></textarea>
        </div>
        <div class="form_text">
          <p>Передоплата в розмірі 50%, заїзд — до 14:00, виїзд — після 12:00</p>
        </div>
        <div class="popupForm__btn columns">
          <button class="button success" type="submit">Записатись</button>
        </div>
      </form>
    </div>
    <div class="contact_form pop_form" data-collection="1" data-target="1">
      <div class="contact_us__success">
        <h2>ВІДПРАВЛЕННЯ ЗАЯВКИ УСПІШНЕ!</h2>
        <p>Ви успішно відправили заявку до готелю “Гірскі”. Очікуйте дзвінка від менеджера.</p>
        <button class="close-button" id="btn_success" data-close="" aria-label="Close reveal" type="button">Закрити</button>
      </div>
      <form class="book_form">
        <div class="form-text">
          <p>Зателефонуйте нам, або заповніть форму і ми вам передзвоннм</p><a href="tel: +380 98 80 10 800">+380 98 80 10 800</a>
        </div>
        <div class="columns">
          <p>Ім’я 
            <input type="text"/>
          </p>
          <p>Телефон
            <input type="text"/>
          </p>
          <div class="popupForm__btn columns">
            <button class="button success" type="submit">Записатись</button>
          </div>
        </div>
      </form>
    </div>
    <div class="form__img"><img src="./dist/images/form-img.png" alt=""/></div>
  </div>
  <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
</div>