
<section>
  <div class="row">
    <div class="reviews clearfix" id="rev">
      <article class="column large-4 medium-6">
        <div class="reviews-item">
          <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
          <div class="reviews-item__content">
            <div class="reviews-item__name"><span>Віолетта</span></div>
            <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            <div class="reviews-item__date"><span> Грудень 2017</span></div>
          </div>
        </div>
      </article>
      <article class="column large-4 medium-6">
        <div class="reviews-item">
          <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
          <div class="reviews-item__content">
            <div class="reviews-item__name"><span>Віолетта</span></div>
            <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            <div class="reviews-item__date"><span> Грудень 2017</span></div>
          </div>
        </div>
      </article>
      <article class="column large-4 medium-6">
        <div class="reviews-item">
          <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
          <div class="reviews-item__content">
            <div class="reviews-item__name"><span>Віолетта</span></div>
            <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            <div class="reviews-item__date"><span> Грудень 2017</span></div>
          </div>
        </div>
      </article>
      <article class="column large-4 medium-6">
        <div class="reviews-item">
          <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
          <div class="reviews-item__content">
            <div class="reviews-item__name"><span>Віолетта</span></div>
            <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            <div class="reviews-item__date"><span> Грудень 2017</span></div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>