
<section class="reviews-wrap">
  <div class="reviews__title">
    <div class="title center"><span>ВІДГУКИ</span></div>
  </div>
  <div class="reviews clearfix" id="rev">
    <div class="row">
      <div class="reviews-slider">
        <article class="column large-4 medium-6">
          <div class="reviews-item">
            <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
            <div class="reviews-item__content">
              <div class="reviews-item__name"><span>Віолетта</span></div>
              <div class="reviews-item__date"><span> Грудень 2017</span></div>
              <div class="reviews-item__text"><span>Всем привет, я бываю во многих отелях по всему миру. Впервые я захотел оставить отзыв! Такого фантастического отношения я не встречал ни в одном из курортных отелей Турции или Египта, ни в ....</span></div>
            </div>
          </div>
        </article>
        <article class="column large-4 medium-6">
          <div class="reviews-item">
            <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
            <div class="reviews-item__content">
              <div class="reviews-item__name"><span>Віолетта</span></div>
              <div class="reviews-item__date"><span> Грудень 2017</span></div>
              <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            </div>
          </div>
        </article>
        <article class="column large-4 medium-6">
          <div class="reviews-item">
            <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
            <div class="reviews-item__content">
              <div class="reviews-item__name"><span>Віолетта</span></div>
              <div class="reviews-item__date"><span> Грудень 2017</span></div>
              <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            </div>
          </div>
        </article>
        <article class="column large-4 medium-6">
          <div class="reviews-item">
            <div class="reviews-item__img"><img src="./dist/images/reviews-foto.png" alt=""/></div>
            <div class="reviews-item__content">
              <div class="reviews-item__name"><span>Віолетта</span></div>
              <div class="reviews-item__date"><span> Грудень 2017</span></div>
              <div class="reviews-item__text"><span>Зручне розташування готелю. Добре харчування. Ніяких проблем..</span></div>
            </div>
          </div>
        </article>
      </div>
      <div class="reviews__btn"><a class="btn" href="#">всі відгуки</a></div>
    </div>
  </div>
</section>