
<section class="spa_wrap">
  <div class="row">
    <div class="spa clearfix">
      <div class="spa__img column large-6">
        <div class="spa-img"><img src="./dist/images/spa1.png" alt=""/><img src="./dist/images/spa.png" alt=""/><img src="./dist/images/spa2.png" alt=""/></div>
      </div>
      <div class="spa__content column large-4">
        <div class="title"><span>spa</span></div>
        <div class="spa__text">
          <p>Родзинкою готелю, безперечно, є SPA-комплекс. До ваших послуг басейн, сауна на дровах, турецька баня хамам, джакузі та гідромасаж, а також відпочинкова кімната. Проведіть час у "Goral Hotel & Spa" із задоволенням!</p>
        </div>
        <div class="spa__btn"><a class="btn btn_f1" href="spa.html" data-open="exampleModal2">Забронювати</a></div>
      </div>
    </div>
  </div>
</section>