
<section>
  <div class="row">
    <div class="vine-card clearfix">
      <div class="vine-card__title">
        <div class="title right"><span>Винна карта</span></div>
      </div>
      <div class="vine-card__info column large-5">
        <div class="vine-card-title"><span>вино ― частина ідентичності</span></div>
        <div class="vine-card-text">
          <p>В готелі присутні два ресторани. Ви можете вибрати страви з національної кухні, або ж розширити смакові відчуття з нашими фірмовими стравами від шеф кухаря. </p>
          <p>Сніданок у ресторані вже включено у вартість номеру. Додатково можна зпланувати свої обід та вечерю для комплексного відпочинку в горах.</p>
        </div>
        <div class="vine-card-btn"><a class="btn" href="#">вибрати вино</a></div>
      </div>
      <div class="vine-card__foto column large-6"><img src="./dist/images/v-card_1.png" alt=""/><img src="./dist/images/v-card_2.png" alt=""/></div>
    </div>
  </div>
</section>