section
	
		#ad.advanteges-wrap
			.row
				.advanteges.clearfix
					.advanteges__content.column.large-5
						.advanteges__cont
							.advanteges-title
								.title
									span ПЕРЕВАГИ
							.advanteges-text
								p Високий рівень обслуговуваня та  комфору, зробить ваш відпочинок ідеальним!
							.advanteges-icons
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon1.svg", alt="")
									.advanteges-icon__text
										span Ресторан Хороша кухня 
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon2.svg", alt="")
									.advanteges-icon__text
										span Надзвичайно красиві краєвиди з вікна
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon4.svg", alt="")
									.advanteges-icon__text
										span Приміщення для зберігання лиж
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon5.svg", alt="")
									.advanteges-icon__text
										span Безкоштовна парковка  
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon6.svg", alt="")
									.advanteges-icon__text
										span Конференц зал на 50 чоловік
								.advanteges-icon.large-4.small-6.column
									.advanteges-icon__img
										img(src="./dist/images/icon7.svg", alt="")
									.advanteges-icon__text
										span Трансфер до готелю та підйомників 
					.advanteges__img.column.large-7
						img(src="./dist/images/foto.png", alt="")