section
	
		.blog__image
			
			img(src="./dist/images/blog_bg.png", alt="")
			.blog__image__title
				span Блог
		.last-news
			.row
				.blog__title
					.title
						span новини і події
				.blog-item.clearfix
					.blog-item__img.column.large-5
						a(href="#")
							img(src="./dist/images/foto.png", alt="")
					.blog-item__content.column.large-7
						.blog-item-date
							span 18.05.2018
						.blog-item-title
							a(href="#")
								span ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!
						.blog-item-text
							p Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень!
							p Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що 
						.blog-item-btn
							a.btn(href="blogEntry.html") читати
		.row
			.blog-items
				article
					.blog-item.clearfix
						.blog-item__img.column.large-5
							a(href="#")
								img(src="./dist/images/foto.png", alt="")
						.blog-item__content.column.large-7
							.blog-item-date
								span 18.05.2018
							.blog-item-title
								a(href="#")
									span ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!
							.blog-item-text
								p Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень!
								p Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що 
							.blog-item-btn
								a.btn(href="#") читати
				article
					.blog-item.clearfix
						.blog-item__img.column.large-5
							a(href="#")
								img(src="./dist/images/foto.png", alt="")
						.blog-item__content.column.large-7
							.blog-item-date
								span 18.05.2018
							.blog-item-title
								a(href="#")
									span ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!
							.blog-item-text
								p Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень!
								p Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що 
							.blog-item-btn
								a.btn(href="#") читати
				article
					.blog-item.clearfix
						.blog-item__img.column.large-5
							a(href="#")
								img(src="./dist/images/foto.png", alt="")
						.blog-item__content.column.large-7
							.blog-item-date
								span 18.05.2018
							.blog-item-title
								a(href="#")
									span ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!
							.blog-item-text
								p Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень!
								p Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що 
							.blog-item-btn
								a.btn(href="#") читати
				.nav-links
					a.prev.page-numbers(href='#')
					
					span.page-numbers.current(aria-current='page') 1
					a.page-numbers(href='#') 2
					a.page-numbers(href='#') 3
					a.next.page-numbers(href='#')














