section
	.row
		.breakfasts.clearfix
			.breakfasts__title
				.title
					span Сніданки
			.breakfasts__img.column.large-6
				img(src="./dist/images/breakfasts.png", alt="")
			.breakfasts__info.column.large-6
				.breakfasts-title
					span смачний сніданок щодня
				.breakfasts-text
					p Хороший відпочинок починається з смачного сніданку.
					p Ви можете вибрати страви з національної кухні, або ж розширити смакові відчуття з нашими фірмовими стравами від шеф кухаря.
					p Сніданок у ресторані вже включено у вартість номеру. Додатково можна зпланувати свої обід та вечерю для комплексного відпочинку в горах.
				.breakfasts-btn
					a.btn(href="#") бронювати номер