section
	.row
		#conv.conveniences.clearfix
			.conveniences__text.columns.large-4.medium-12.large-offset-1
				.title
					span ЗРУЧНОСТІ
				.text
					p На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні. До ваших послуг розкішні апартаменти, виконані у автентичному стилі, що гармонійно поєднує дерево, камінь та текстильні елементи.
			.conveniences__img.columns.large-7.medium-12
				img(src="./dist/images/foto2.png", alt="")
