footer
	.footer.clearfix
		.row
			.footer__contacts.large-5.medium-5.small-12.columns
				.footer-addres
					p с. Поляниця Підгірне, 654  Івано-Франківська обл.
				.footer-contacts
					.footer-soc
						a(href="#")
							img(src="./dist/images/fb.svg", alt="")
						a(href="#")
							img(src="./dist/images/inst.svg", alt="")
					.footer-phone
						ul
							li
								a(href="tel:+380 98 80 10 800") +380 98 80 10 800
							li
								a(href="tel:+380 66 55 77 803") +380 66 55 77 803

			.footer__logo.large-2.medium-3.small-12.columns
				a(href="#")
					img(src="./dist/images/footer-logo.png", alt="")

			.footer__copy.large-5.medium-4.small-12.columns
				.lionline
					span 
						|Created by 
						a(href="#") LIONLINE 
						|© 2018
				.copy
					span GIRSKI Hotel & Spa. 
					span Усі права захищено.
				


