footer
	.row
		.footer
			.footer-content
				.footer__addres.large-3.columns
					span Адреса:
					p Підгірне, 654 с. Поляниця, Яремчанська м.Івано-Франківська обл.
				.footer__contacts.large-3.columns
					span Контактні телефони:
					ul
						li +380 98 80 10 800
						li +380 66 55 77 803
				.footer__soc.large-3.columns
					span Ми у соціальних мережах:
					.footer__soc-icons
						//- a(href="#")
						//- 	img(src="./dist/images/twiter.svg", alt="")
						a(href="#")
							img(src="./dist/images/fb.svg", alt="")
						//- a(href="#")
						//- 	img(src="./dist/images/inst.svg", alt="")
			.footer-copy
				span Created by 
					a(href="#") LionLine 
					|© 2018

