header
	include ./popup-form
	.header.header_transparent

		
			.header-top-wrap
				.row
					.header__top

						.top-menu
							nav
								ul
									li 
										a(href="#") УКР
									li
										a(href="video.html") 3D Панорами
									li
										a(href="blog.html") Блог
									li
										a(href="") Відео
						.top-contacts
							span Інформація за телефоном:
							a(href="tel:+380 98 80 10 800") +380 98 80 10 800
			.header__menu
				.mob_open
					.icon
						.burger
				.logo-mob
					a(href="index.html")
						//- img.logo-black(src="./dist/images/form_logo.png", alt="")
						img.logo-white(src="./dist/images/footer-logo.png", alt="")
				.row
					.nav-menu
						ul.nav-menu_left.h-menu
							li
								a(href="#") ПРО ГОТЕЛЬ
							li
								a(href="index.html#rooms") НОМЕРИ
							li
								a(href="restaurant.html") ресторан
						.header__logo
							a(href="index.html")
								img.logo-black(src="./dist/images/form_logo.png", alt="")
								img.logo-white(src="./dist/images/footer-logo.png", alt="")
						ul.nav-menu_right.h-menu
							li
								a(href="#") ЗРУЧНОСТІ
							li
								a(href="#") бронювання
							li
								a(href="contacts.html") КОНТАКТИ
						.bottom-mob-menu.show-for-small-only
							nav
								ul
									li 
										a(href="#") УКР
									li
										a(href="video.html") 3D Панорами
									li
										a(href="blog.html") Блог
									li
										a(href="#") Відео
							.bottom-mob-menu__phone
								p Інформація за телефоном:
								a(href="tel:+380 98 80 10 800") +380 98 80 10 800



















