header
	include ./popup-form
	.row
		.header
			.header__logo
				a(href="#")
					img(src="./dist/images/form_logo.png", alt="")
			.header__contacts
				.phone
					a(href="#")
						i.fa.fa-phone(aria-hidden="true")
						| +380 98 80 10 800
				.lang
					select#langSelect
						option
							| ENG
						option
							| УКР
