slider
	#homeSlider.homeSlider
		.homeSlider-item
			.homeSlider-item__img
				img(src="./dist/images/slider_item_3.png", alt="")
			.row
				.homeSlider-item__info
					.slider_title
						span GIRSKI hotel&spa
					.slider_text
						p На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.
					.slider_btn
						a.btn.btn_brown(href="#")
							span номери
		.homeSlider-item
			.homeSlider-item__img
				img(src="./dist/images/slider_item_2.png", alt="")
			.row
				.homeSlider-item__info
					.slider_title
						span GIRSKI hotel&spa
					.slider_text
						p На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.
					.slider_btn
						a.btn.btn_brown(href="#")
							span номери
		.homeSlider-item
			.homeSlider-item__img
				img(src="./dist/images/slider_item.png", alt="")
			.row
				.homeSlider-item__info
					.slider_title
						span GIRSKI hotel&spa
					.slider_text
						p На вас чекає новий сучасний готель з автентичними інтер’єрами, дивовижними краєвидами та обслуговуванням на вищому рівні.
					.slider_btn
						a.btn.btn_brown(href="#")
							span номери