#menu

	.row
		.header_menu
			.mob_open
				.icon
					.burger
			
			ul.menu
				li
					a(href="#") ГОЛОВНА
				li
					a(href="#about") ПРО ГОТЕЛЬ
				li
					a(href="#rooms") НОМЕРИ
				li
					a(href="#ad") ПЕРЕВАГИ
				li
					a(href="#rev") ВІДГУКИ
				li
					a(href="#conv") ЗРУЧНОСТІ
				li
					a(href="#cont") КОНТАКТИ
				