#exampleModal1.reveal(data-reveal='')
	.popupForm.clearfix

				
		.form__logo
			img(src="./dist/images/form_logo.png", alt="")
		.form_tabs
			ul
				li.form1.tab-active(data-collection="1", data-triger="0") БРОНЮВАННЯ
				li.form2(data-collection="1", data-triger="1") ЗВ’ЯЗАТИСЬ
		.booking_form.pop_form.active(data-collection="1", data-target="0")
			.contact_us__success
				h2 ВІДПРАВЛЕННЯ ЗАЯВКИ УСПІШНЕ!
				p Ви успішно відправили заявку до готелю “Гірскі”. Очікуйте дзвінка від менеджера.
				button#btn_success.close-button(data-close='', aria-label='Close reveal', type='button')
					|Закрити
					
			form.book_form
				.large-6.medium-6.small-12
					p Номер:
					select(name="classRoom")
						option Вибрати номер
						option Стандарт
						option Напівлюкс
						option Люкс
				.large-6.medium-6.small-12
					.number
						.Adults.large-6.medium-6
							p Дорослих:
							.value-button(id="decrease" value="Decrease Value") -
							input(type="number" name="Adults" id="number" value="0")
							.value-button(id="increase"  value="Increase Value") +
						.Children.large-6.medium-6
							p Дітей:
							.value-button(id="decrease2" value="Decrease Value") -
							input(type="number" name="Children" id="number2" value="0")
							.value-button(id="increase2"  value="Increase Value") +
				.large-6.medium-6.small-12
					p Дата заїзду
					input(type="text" name="date_begin" readonly id="date_begin" class="datepicker-begin"  required )
				.large-6.medium-6.small-12
					
					p Дата виїзду
					input(type="text" id="date_end" readonly name="date_end" class="datepicker-finish" required)
				.large-6.medium-6.small-12
					p Ім’я 
					input(type="text" name="name" placeholder='Введіть Ім’я ')
				
				.large-6.medium-6.small-12

					
					p Телефон 
					input(type="text" name="phone" placeholder='Введіть Телефон')
				.large-12.medium-12.small-12
					p Уточнення
					textarea(placeholder='Введіть Повідомлення')
				.form_text
					p Передоплата в розмірі 50%, заїзд — до 14:00, виїзд — після 12:00
				.popupForm__btn.columns
					button(type="submit"  class="button success") Записатись
		.contact_form.pop_form(data-collection="1", data-target="1")
			.contact_us__success
				h2 ВІДПРАВЛЕННЯ ЗАЯВКИ УСПІШНЕ!
				p Ви успішно відправили заявку до готелю “Гірскі”. Очікуйте дзвінка від менеджера.
				button#btn_success.close-button(data-close='', aria-label='Close reveal', type='button')
					|Закрити
			form.book_form
				.form-text
					p Зателефонуйте нам, або заповніть форму і ми вам передзвоннм
					a(href="tel: +380 98 80 10 800") +380 98 80 10 800

				.columns
					p Ім’я 
						input(type="text")
					p Телефон
						input(type="text")
					.popupForm__btn.columns
							button(type="submit"  class="button success") Записатись
		.form__img
			img(src="./dist/images/form-img.png", alt="")
		
	button.close-button(data-close='', aria-label='Close reveal', type='button')
		span(aria-hidden='true') ×