section.restaurant-menu-wrap
	.row
		.restaurant-menu
			.restaurant-menu__title
				.title
					span меню
			.restaurant-menu__slider.column.large-6
				.menuSlider
					article
						.menuSlider-item
							.menuSlider-item__img
								img(src="./dist/images/menu.png", alt="")
							.menuSlider-item__text
								span Фарширована річкова форель
					article
						.menuSlider-item
							.menuSlider-item__img
								img(src="./dist/images/menu.png", alt="")
							.menuSlider-item__text
								span Фарширована річкова форель
					article
						.menuSlider-item
							.menuSlider-item__img
								img(src="./dist/images/menu.png", alt="")
							.menuSlider-item__text
								span Фарширована річкова форель

			.restaurant-menu__info.column.large-6
				.menu-title
					span національні та фірмові стрАви
				.restaurant-menu-text
					p В готелі присутні два ресторани. Ви можете вибрати страви з національної кухні, або ж розширити смакові відчуття з нашими фірмовими стравами від шеф кухаря. Сніданок у ресторані вже включено у вартість номеру. Додатково можна зпланувати свої обід та вечерю для комплексного відпочинку в горах.
				.menu-btn
					a.btn.btn_brown(href="#") 
						span В меню