section.restaurantSlider
	slider
		.roomSlider

			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/foto2.png", alt="")
					
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/roomslide_1.png", alt="")
					
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/foto2.png", alt="")
					


		.restaurantSlider__title
				span.btn Ресторан
