section.restaurant-wrap
	.row
		.restaurant
			.restaurant__title
				.title.centerFW
					span РЕСТОРАН
			.restaurant__info.column.large-6
				.restaurant-title
					span Національні та фірмові страви
				.restaurant-text
					p В готелі присутні два ресторани. Ви можете вибрати страви з національної кухні, або ж розширити смакові відчуття з нашими фірмовими стравами від шеф кухаря. Сніданок у ресторані вже включено у вартість номеру. Додатково можна зпланувати свої обід та вечерю для комплексного відпочинку в горах.
				.restaurant-btn
					a.btn(href="#") про ресторан
			.restaurant__img.column.large-6
				img(src="./dist/images/foto2.png", alt="")
