section
	.row
		#rev.reviews.clearfix
			article.column.large-4.medium-6
				.reviews-item
					.reviews-item__img
						img(src="./dist/images/reviews-foto.png", alt="")
					.reviews-item__content
						.reviews-item__name
							span Віолетта
						//- .reviews-item__loc
						//- 	span Київ
						.reviews-item__text
							span Зручне розташування готелю. Добре харчування. Ніяких проблем..
						.reviews-item__date
							span  Грудень 2017
			article.column.large-4.medium-6
				.reviews-item
					.reviews-item__img
						img(src="./dist/images/reviews-foto.png", alt="")
					.reviews-item__content
						.reviews-item__name
							span Віолетта
						//- .reviews-item__loc
						//- 	span Київ
						.reviews-item__text
							span Зручне розташування готелю. Добре харчування. Ніяких проблем..
						.reviews-item__date
							span  Грудень 2017
			article.column.large-4.medium-6
				.reviews-item
					.reviews-item__img
						img(src="./dist/images/reviews-foto.png", alt="")
					.reviews-item__content
						.reviews-item__name
							span Віолетта
						//- .reviews-item__loc
						//- 	span Київ
						.reviews-item__text
							span Зручне розташування готелю. Добре харчування. Ніяких проблем..
						.reviews-item__date
							span  Грудень 2017
			article.column.large-4.medium-6
				.reviews-item
					.reviews-item__img
						img(src="./dist/images/reviews-foto.png", alt="")
					.reviews-item__content
						.reviews-item__name
							span Віолетта
						//- .reviews-item__loc
						//- 	span Київ
						.reviews-item__text
							span Зручне розташування готелю. Добре харчування. Ніяких проблем..
						.reviews-item__date
							span  Грудень 2017


