section.rooms-wrap#rooms
	.row
		.rooms-hotel.clearfix
			.rooms-hotel__content.column.large-5.medium-12
				.title
					span КАТЕГОРІЇ НОМЕРІВ
				.rooms-hotel__text
					p Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.
					p Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!
				.rooms-hotel__btn
					a.btn.btn_brown(href="#")
						span бронювати
			.rooms-hotel__rooms.column.large-7.medium-12
				.room-items
					a(href="room.html").room-item
						.room-item__class-room
							span СТАНДАРТ
						.room-item__img
							img(src="./dist/images/room_item.png", alt="")
						.room-item__price
							span від 1750 ГРН
						.room-item__info
							span Номер “Стандарт” включає одне двоспальне ліжко. Виконаний з екологічно чистих матеріалів.
					a(href="room.html").room-item
						.room-item__class-room
							span ЛЮКС
						.room-item__img
							img(src="./dist/images/room_item2.png", alt="")
						.room-item__price
							span від 3500 ГРН
						.room-item__info
							span Номер "Люкс" задовільнить потреби навіть найвибагливіших гостей. Виконаний з екологічно чистих матеріалів.
