section.roomSlider-wrap
	slider
		.roomSlider
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/roomslide_1.png", alt="")
		
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/roomslide_1.png", alt="")
					
			article
				.roomSlider-item
					.roomSlider-item__img
						.slide-bg
						img(src="./dist/images/roomslide_1.png", alt="")
					
		.roomSlider__title
			span.btn двомісний Номер “СТАНДАРТ”