section.room-price-wrap
	.row
		.room-price.clearfix
			.room-price__title
				.title
					span ВАРТІСТЬ ПРОЖИВАННЯ
			.room-price__price.column.large-6
				table.minimalistBlack
					thead
						tr
							th Дата
							th Ціна, грн
							
					tbody
						tr
							td 15.11 – 01.12
							td 1750
							
						tr
							td 01.12 – 29.12
							td 2100
							
						tr
							td 29.12 – 10.01
							td 5250
							
						tr
							td 10.01 – 31.01
							td 3150
							
						tr
							td 31.01 – 10.03
							td 2700
							
						tr
							td 10.03 – ...
							td 1800
							
				.price-text
					p Діти до трьох років проживають з батьками безкоштовно. Додаткове ліжко +400 грн. Ціна вказана за одну ніч.
				.room-price__btn
					a.btn.btn_brown(href="#") 
						span бронювати
			.room-price__text.column.large-6
				p Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.
				p Для незабутнього відпочинку для двох пропонуються розкішні номери категорії "Стандарт". Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!
				p Також ми подбали про те, щоб у ванній кімнаті було все необхідне: набір м'яких рушників, махрові халати, фен, одноразові тапочки і косметичний набір.