section.spa_wrap
	.row
		.spa.clearfix
			.spa__img.column.large-6
				.spa-img
					img(src="./dist/images/spa1.png", alt="")
					img(src="./dist/images/spa.png", alt="")
					img(src="./dist/images/spa2.png", alt="")
					
			.spa__content.column.large-4
				.title
					span spa
				.spa__text
					p Родзинкою готелю, безперечно, є SPA-комплекс. До ваших послуг басейн, сауна на дровах, турецька баня хамам, джакузі та гідромасаж, а також відпочинкова кімната. Проведіть час у "Goral Hotel & Spa" із задоволенням!
				.spa__btn
					a.btn.btn_f1(href="spa.html" data-open='exampleModal2') Забронювати
				