section
	.row
		.vine-card.clearfix
			.vine-card__title
				.title.right
					span Винна карта
			.vine-card__info.column.large-5
				.vine-card-title
					span вино ― частина ідентичності
				.vine-card-text
					p В готелі присутні два ресторани. Ви можете вибрати страви з національної кухні, або ж розширити смакові відчуття з нашими фірмовими стравами від шеф кухаря. 
					p Сніданок у ресторані вже включено у вартість номеру. Додатково можна зпланувати свої обід та вечерю для комплексного відпочинку в горах.
				.vine-card-btn
					a.btn(href="#") вибрати вино
			.vine-card__foto.column.large-6
				img(src="./dist/images/v-card_1.png", alt="")
				img(src="./dist/images/v-card_2.png", alt="")