doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/headerNew
		section
	
			.blog__image
				.blog__image-bg
				img(src="./dist/images/foto.png", alt="")

		section
			.row
				.video.clearfix
					.video__title
						.title.center
							span Сторінку не знайдено

					.column.clearfix
						.content-block.large-8.large-offset-2
							._404
								._404__title
									span Помилка 404
								._404__text
									p Сторінку яку ви шукаєте видалено або не створено. 
									p Звяжіться з нами якщо зникло щось важливе, можливо сторінка переїхала чи стала не актуальною.
									p Ви можете зв’язатись з нашим менеджером через форму зв’язку або ж телефонуйте
										a(href="#") +38 067 100 23 03.
								._404__btn
									a.btn.btn_brown(href="#")
										span на головну
							

		
		
		
		include ./parts/homeForm
		include ./parts/footerNew