doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/headerNew
		section.blogEntry
			
			.blog__image
				.blog__image-bg
				img(src="./dist/images/foto.png", alt="")
			.row
				.blogEntry__title
					.title.center
						span Літнє зниження ціни!
					.blogEntry-date
						span 18.05.2018
				.column
					.content-block.large-8.large-offset-2
						p Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень! 
						p Найкомфортабельнішими є апартаменти котеджного типу. Перший поверх цього палацу з дерева та каменю вміщає вітальню, кухню та їдальню, на другому розміщені три спальні, наявні три санвузли, що
						h1 Заголовок
						h2 Заголовок
						h3 Заголовок
						h4 Заголовок
						a(href="#") Чудова новина для наших гостей! 
						ul  Unordered list
							li Чудова новина для наших гостей! Чудова новина для наших гостей! Чудова новина для наших гостей! 
							li Чудова новина для наших гостей! Чудова новина для наших гостей! 
							li Чудова новина для наших гостей! Чудова новина для наших гостей! Чудова новина для наших гостей! Чудова новина для наших гостей! Чудова новина для наших гостей! 
							li Заголовок
							li Заголовок
						ol  Unordered list
							li Заголовок
							li Заголовок
							li Заголовок
							li Заголовок
							li Заголовок
		section.other-articles-wrap
			.row
				.other-articles.clearfix
					.other-articles__title
						.title
							span Інші статті
					article
						.article-item.column.large-5
							.article-item__img
								a(href="#")
									img(src="./dist/images/foto2.png", alt="")
							.article-item__date
								span 18.05.2018
							.article-item__title
								a(href="#")
									span ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!
							.article-item__text
								p Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень! Чудова новина для наших гостей! На літній час 
							.article-item__btn
								a.btn(href="bolgEntry.html") читати
					article
						.article-item.column.large-5
							.article-item__img
								a(href="#")
									img(src="./dist/images/foto.png", alt="")
							.article-item__date
								span 18.05.2018
							.article-item__title
								a(href="#")
									span ЛІТНЄ ЗНИЖЕННЯ ЦІНИ!
							.article-item__text
								p Чудова новина для наших гостей! На літній час проживання у нашому затишному та великому шале зниженно до 6500 гривень! Чудова новина для наших гостей! На літній час 
							.article-item__btn
								a.btn(href="bolgEntry.html") читати

						

		
		
		
		
		include ./parts/homeForm
		include ./parts/footerNew