doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/headerNew
		.contactPage
			.contactPage__image
				.contactPage__image-bg
				img(src="./dist/images/foto.png", alt="")
				.contactPage__title
					span контакти
			
			
			.contact-map
				.row
					.map-info.clearfix
						.map-info__title
							span Ми знаходимось за адресою
						.map-info__adress
							p Урочище Вишні, 353 с. Поляниця, Яремчанська м. р. Івано-Франківська обл.
							
						.map-info__contacts
							p Для бронювання зателефонуйте за номером
							ul
								li
									a(href='tel:+38 098 801-08-00') +38 098 801-08-00
									
								li 
									a(href='tel:+38 066 557-78-03') +38 066 557-78-03
						.map-info__btn
							a.btn.btn_brown(href='#')
								span бронювати
							.map-info__soc
								a(href="#")
									img(src="./dist/images/fb_brown.svg", alt="")
								a(href="#")
									img(src="./dist/images/inst_brown.svg", alt="")
				#map
				script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApj8qSzyO4DqXeQtFQPKI4mi6p-MBwlpo&callback=initMap")
				
		

		
			include ./parts/reviewsNew
		include ./parts/homeForm
		include ./parts/footerNew
