doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/headerNew
		include ./parts/HomeSliderNew
		//- include ./parts/nav-menu
		include ./parts/about-hotel
		include ./parts/rooms-hotel
		include ./parts/restaurant
		include ./parts/spa
		include ./parts/conveniencesNew
		include ./parts/advanteges
		
		//- include ./parts/reviews
		include ./parts/reviewsNew

		//- include ./parts/conveniences
	

		include ./parts/homeForm
		


		//- include ./parts/footer
		include ./parts/footerNew

		


