doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/headerNew
		include ./parts/restaurant-slider
		include ./parts/restaurant-menu
		include ./parts/vine-card
		include ./parts/breakfasts
		section.rooms-wrap#rooms
			.row
				.title.right
					span КАТЕГОРІЇ НОМЕРІВ
				.rooms-hotel.clearfix
					.rooms-hotel__content.column.large-5.medium-12
						.rooms-hotel-title
							span номери для двох або компанії
						.rooms-hotel__text
							p Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.
							p Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!
						.rooms-hotel__btn
							a.btn.btn_brown(href="#")
								span бронювати
					.rooms-hotel__rooms.column.large-7.medium-12
						.room-items
							.room-item.btn_f1(data-open='exampleModal1')
								.room-item__class-room
									span СТАНДАРТ
								.room-item__img
									img(src="./dist/images/room_item.png", alt="")
								.room-item__price
									span від 1750 ГРН
								.room-item__info
									span Номер “Стандарт” включає одне двоспальне ліжко. Виконаний з екологічно чистих матеріалів.
							.room-item.btn_f1(data-open='exampleModal1')
								.room-item__class-room
									span ЛЮКС
									p (для великої компанії)
								.room-item__img
									img(src="./dist/images/room_item2.png", alt="")
								.room-item__price
									span від 3500 ГРН
								.room-item__info
									span Номер "Люкс" задовільнить потреби навіть найвибагливіших гостей. Виконаний з екологічно чистих матеріалів.

		
		
		include ./parts/advanteges
		include ./parts/homeForm
		include ./parts/footerNew