doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/headerNew
		section.roomSlider-wrap
			slider
				.roomSlider
					article
						.roomSlider-item
							.roomSlider-item__img
								.slide-bg
								img(src="./dist/images/spa4.png", alt="")
				
					article
						.roomSlider-item
							.roomSlider-item__img
								.slide-bg
								img(src="./dist/images/spa.png", alt="")
				
					article
						.roomSlider-item
							.roomSlider-item__img
								.slide-bg
								img(src="./dist/images/spa1.png", alt="")
							
					article
						.roomSlider-item
							.roomSlider-item__img
								.slide-bg
								img(src="./dist/images/spa2.png", alt="")
							
				.roomSlider__title
					span.btn SPA центр
		section.SPA-wrap
			.row
				.restaurant-menu
					.restaurant-menu__title
						.title
							span SPA
					.restaurant-menu__slider.column.large-6
						.menuSlider
							article
								.menuSlider-item
									.menuSlider-item__img
										img(src="./dist/images/spa.png", alt="")
									.menuSlider-item__text
										span СПА центр готелю
							article
								.menuSlider-item
									.menuSlider-item__img
										img(src="./dist/images/spa1.png", alt="")
									.menuSlider-item__text
										span СПА центр готелю
							article
								.menuSlider-item
									.menuSlider-item__img
										img(src="./dist/images/spa2.png", alt="")
									.menuSlider-item__text
										span СПА центр готелю

					.restaurant-menu__info.column.large-6
						.menu-title
							span Особливістю готелю
						.restaurant-menu-text
							p Родзинкою готелю, безперечно, є SPA-комплекс. До ваших послуг басейн, сауна на дровах, турецька баня хамам, джакузі та гідромасаж, а також відпочинкова кімната. Проведіть час у "Goral Hotel & Spa" із задоволенням!
						.menu-btn
							a.btn(href="#") забронювати номер

		section
			.row
				.vine-card.clearfix
					.vine-card__title
						.title.right
							span басейн
					.vine-card__info.column.large-5
						.vine-card-title
							span Критий басейн
						.vine-card-text
							p Для любителів східної бані пропонуємо хамам. Витримані традиції турецької бані та витончений дизайн, що поєднує візантійські та карпатські мотиви приємно вас вразять. Після процедур або між ними ви можете відвідати кімнату відпочинку.
						.vine-card-btn
							a.btn(href="#") бронювати
					.vine-card__foto.column.large-6
						img(src="./dist/images/spa1.png", alt="")
						img(src="./dist/images/spa2.png", alt="")
		section.spa-sauna
			.row
				.vine-card.vine-card_spa.clearfix
					.vine-card__title
						.title
							span сауна
					.vine-card__foto.column.large-6
						img(src="./dist/images/spa.png", alt="")
						img(src="./dist/images/spa4.png", alt="")
					.vine-card__info.column.large-5
						.vine-card-title
							span Сауна на дровах
						.vine-card-text
							p Простора сауна на дровах карпатських порід – це якісне оздоровлення дихальних шляхів та шкірного покриву. Теплий дизайн та ергономічне вирішення не залишуть вас байдужими.

					
		section
			.row
				.vine-card.clearfix
					.vine-card__title
						.title.right
							span Хамам
					.vine-card__info.column.large-5
						.vine-card-title
							span Хамам та кімната відпочинку
						.vine-card-text
							p У готелі передбачений басейн площею 6×12 м . 
							p Зручний вхід, зонування, зокрема, розрахована мілка зона для наших найменших гостей.
						.vine-card-btn
							a.btn(href="#") бронювати
					.vine-card__foto.column.large-6
						img(src="./dist/images/spa.png", alt="")
						img(src="./dist/images/spa4.png", alt="")

		section.rooms-wrap
			.row
				.title.right
					span КАТЕГОРІЇ НОМЕРІВ
				#rooms.rooms-hotel.clearfix
					.rooms-hotel__content.column.large-5.medium-12
						.rooms-hotel-title
							span номери для двох або компанії
						.rooms-hotel__text
							p Кожна кімната Girski Hotel&Spa - це острівець затишку і спокою в сучасному світі суєти. З вікон кожного номеру відкривається чарівний краєвид.
							p Ми гарантуємо комфортні умови для відпочинку. Ви будете приємно здивовані сервісом та багатою інфраструктурою готелю: незалежно від сезону року та компанії гостей, ми запропонуємо розваги та оздоровчі процедури на будь-який смак!
						.rooms-hotel__btn
							a.btn.btn_brown(href="#") бронювати
					.rooms-hotel__rooms.column.large-7.medium-12
						.room-items
							.room-item.btn_f1(data-open='exampleModal1')
								.room-item__class-room
									span СТАНДАРТ
								.room-item__img
									img(src="./dist/images/room_item.png", alt="")
								.room-item__price
									span від 1750 ГРН
								.room-item__info
									span Номер “Стандарт” включає одне двоспальне ліжко. Виконаний з екологічно чистих матеріалів.
							.room-item.btn_f1(data-open='exampleModal1')
								.room-item__class-room
									span ЛЮКС
									p (для великої компанії)
								.room-item__img
									img(src="./dist/images/room_item2.png", alt="")
								.room-item__price
									span від 3500 ГРН
								.room-item__info
									span Номер "Люкс" задовільнить потреби навіть найвибагливіших гостей. Виконаний з екологічно чистих матеріалів.
		include ./parts/advanteges
		include ./parts/homeForm
		include ./parts/footerNew