doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/headerNew
		section
	
			.blog__image
				.blog__image-bg
				img(src="./dist/images/foto.png", alt="")

		section
			.row
				.video.clearfix
					.video__title
						.title.center
							span огляд 360°

					.column.clearfix
						.content-block.large-8.large-offset-2
							p Пропонуємо поринути у атмосферу GORAL HOTEL & SPA за допомогою сучасних технологій у форматі 360!
							p Під час перегляду рухайте курсором на відео та спостерігайте, як затишно і зручно у нашому готелі. Завітайте, ми завжди чекаємо на Вас!
				
							iframe(  src="https://www.youtube.com/embed/gDuMihGYTlc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

		
		
		
		include ./parts/homeForm
		include ./parts/footerNew